---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import CourseArchitecture from "../components/sections/CourseArchitecture.astro";
import RegisterSection from "../components/sections/RegisterSection.astro";

const PACMAN_FAVICON =
  'data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👾</text></svg>';
---

<Layout title="Taller Videojuegos | Punta Arenas">
  <link rel="icon" href={PACMAN_FAVICON} />

  <Header />

  <main class="pt-24 pb-20 px-4 max-w-5xl mx-auto space-y-24">
    <Hero />
    <CourseArchitecture />
    <RegisterSection />
  </main>

  <Footer />
</Layout>
